version: 2.1
orbs:
  architect: giantswarm/architect@4.2.0

workflows:
  build-workflow:
    jobs:

      - architect/go-test:
          name: go-test-crd-docs-generator
          # filters is needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/go-build:
          name: go-build-crd-docs-generator
          binary: crd-docs-generator
          requires:
            - go-test-crd-docs-generator
          # filters is needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          name: push-crd-docs-generator-to-quay
          image: quay.io/giantswarm/crd-docs-generator
          username_envar: QUAY_USERNAME
          password_envar: QUAY_PASSWORD
          requires:
            - go-build-crd-docs-generator
          # filters is needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/
